<%- include('partials/Header') %>

<div class="container">
  <div class="row home">
    <div class="col-md-6 col-sm-12 p-5 md-ps-0">
      <div class="card home pt-4">
        <div class="card-body display-2 py-5 px-3">
          Explore the world of social media and join us now!
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 p-5 md-ps-0">
      <div class="card home">
        <div
          class="
            card-body
            display-1
            py-5
            px-3
            d-flex
            flex-column
            justify-content-center
            align-items-center
          "
        >
          <a href="/signup" class="btn btn-lg btn-outline-light mb-3 btn-home"
            >Sign-up Now</a
          >

          <a href="/login" class="btn btn-lg btn-outline-light btn-home"
            >Login Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/Footer') %>
