<%- include('partials/Header') %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 p-5 mx-auto">
      <div class="card home">
        <div
          class="
            card-body
            display-1
            d-flex
            flex-column
            justify-content-center
            align-items-center
          "
        >
          <h2 class="display-3 text-center mb-5">Signed Up Successfully!</h2>

          <a href="/login" class="btn btn-lg btn-outline-light btn-home"
            >Login Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/Footer') %>
