<%- include('partials/Header') %>

<div class="container pt-5">
  <div class="row">
    <div class="md-col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3>Invalid Password!!</h3>
          <a href="/login" class="btn btn-outline-light btn-lg">
            Go back To login page
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/Footer') %>
